RSA/Debug/*
RSA/UnitTest/*
RSA/.vs/*
RSA/source/unittest/Debug/*
RSA_Boost/Debug/*
ux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm

